.head{
    display: flex;
    justify-content: flex-end;
    align-items: center;
   padding: 10px 40px 10px 40px;
   border: 1px solid black;
   border-radius: 10px;
   background-color: antiquewhite;
}

.head > a{
    margin-right: auto;
}

.head > a > img {
    width: 50px; 
    height: auto; 
    border: 2px solid black; 
}

.head > ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 0px 0px;
}

.head ul li {
    padding: 0px 20px 0px 0px;
    font-size: 18;
}

.card {
    width: 12vw;
      margin: 15px 10px;
    border: 1px solid black;
    height: 400px;
}

.body{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
   
   
}

.card img {
    width: 100%;
}

.shimmer{
    display: flex;
    flex-direction:row;
    height: 300px;
    flex-wrap: wrap;
    
}

.shimmer > div{
    background: linear-gradient(-45deg, #eee 40%, #fafafa 50%, #eee 60%);
      width: 12vw;
      height: 400px;
      margin: 15px 10px;
       background-size: 300%; 
       background-position-x: 100% ;
      animation: shimmer 1s infinite linear;
}

@keyframes shimmer {
    to {
       background-position-x: 0%
    }
 }
